.button {
  padding: 0 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: var(--input-border-radius);

  color: white;

  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.1);
  }
}
.rounded {
  border-radius: 50%;
}
