.drop-title {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
}

.drop-title:hover {
  cursor: pointer;
}

.arrow-icon {
  transition: transform 0.2s ease-in-out;
}

.arrow-icon-rotated {
  transform: rotate(180deg);
}
